<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
	<!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
	<add name="core" connectionString="Data Source=FLN-4RC3LQ3;Initial Catalog=GettingStarted_Core;User ID=coreuser;Password=1xOEPCTxDTWgQnJma1L9" />
	<add name="security" connectionString="Data Source=FLN-4RC3LQ3;Initial Catalog=GettingStarted_Core;User ID=securityuser;Password=U0jM35TzGWsuLB8e2Oun" />
	<add name="master" connectionString="Data Source=FLN-4RC3LQ3;Initial Catalog=GettingStarted_Master;User ID=masteruser;Password=1YeFPYJTwH28DCUeC7Sf" />
	<add name="web" connectionString="Data Source=FLN-4RC3LQ3;Initial Catalog=GettingStarted_Web;User ID=webuser;Password=sR3kzleccP79JP37TOin" />
	<add name="messaging" connectionString="Data Source=FLN-4RC3LQ3;Initial Catalog=GettingStarted_Messaging;User ID=messaginguser;Password=oRUb8ThJPwLVMNYwDpec" />
	<add name="xdb.processing.pools" connectionString="Data Source=FLN-4RC3LQ3;Initial Catalog=GettingStarted_Processing.Pools;User ID=poolsuser;Password=1QcLU05PFZTcY563a2GC" />
	<add name="xdb.referencedata" connectionString="Data Source=FLN-4RC3LQ3;Initial Catalog=GettingStarted_ReferenceData;User ID=referencedatauser;Password=o8gcWQZMMYabk66Uq68c" />
	<add name="xdb.processing.tasks" connectionString="Data Source=FLN-4RC3LQ3;Initial Catalog=GettingStarted_Processing.Tasks;User ID=tasksuser;Password=4AauoRSZn20eRW49Rf9u" />
	<add name="experienceforms" connectionString="Data Source=FLN-4RC3LQ3;Initial Catalog=GettingStarted_ExperienceForms;User ID=formsuser;Password=d0pINdE2oyKGyT95GWnK" />
	<add name="exm.master" connectionString="Data Source=FLN-4RC3LQ3;Initial Catalog=GettingStarted_EXM.Master;User ID=exmmasteruser;Password=mrGF42n7sG7I4ZutL4xS" />
	<add name="reporting" connectionString="Data Source=FLN-4RC3LQ3;Initial Catalog=GettingStarted_Reporting;User ID=reportinguser;Password=C61kyIluKqcdt52IUeDm" />
	<add name="cortex.processing.engine" connectionString="https://GettingStartedxconnect.dev.local" />
	<add name="cortex.processing.engine.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9E5B4EA9487EF8CF8F0B697020617B0293D5DC82" />
	<add name="sitecore.reporting.client" connectionString="https://GettingStartedxconnect.dev.local" />
	<add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9E5B4EA9487EF8CF8F0B697020617B0293D5DC82" />
	<add name="solr.search" connectionString="https://localhost:8983/solr" />
	<add name="sitecoreidentity.secret" connectionString="S466Uh3bjnAocevxpjtUdsSRRdyRV3qkTRBtOBbIS0UclxcxB9vN4qQBfSFzNQcgDz8zW8edDsGCmGuniHxsPFkkwcu89JTcPeb5" />
	<add name="xconnect.collection" connectionString="https://GettingStartedxconnect.dev.local" />
	<add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9E5B4EA9487EF8CF8F0B697020617B0293D5DC82" />
	<add name="xdb.marketingautomation.operations.client" connectionString="https://GettingStartedxconnect.dev.local" />
	<add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9E5B4EA9487EF8CF8F0B697020617B0293D5DC82" />
	<add name="xdb.marketingautomation.reporting.client" connectionString="https://GettingStartedxconnect.dev.local" />
	<add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9E5B4EA9487EF8CF8F0B697020617B0293D5DC82" />
	<add name="xdb.referencedata.client" connectionString="https://GettingStartedxconnect.dev.local" />
	<add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=9E5B4EA9487EF8CF8F0B697020617B0293D5DC82" />
	<add name="EXM.CryptographicKey" connectionString="0x9426964989873090118548730387911066735501109632990319052039320078" />
	<add name="EXM.AuthenticationKey" connectionString="0x7207745297098747879870656232621289412042272766081480506508369583" />
</connectionStrings>